$namespace: 'gen';
$element-separator: '__';
$modifier-separator: '--';


// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-max: 24px;
$font-weight-bold: 500;
