@import "../style/mixins";

@include b(goods) {
  width: 100%;
  min-width: 100px;
  padding: 8px 0 5px;
  @include m(max) {
    font-size: $font-size-xl;
    @include e(name) {
      padding-bottom: $padding-xl;
    }
    @include e(price) {
      &-amount {
        font-size: $font-size-xl + 4px;
      }
    }
  }
  @include m(large) {
    font-size: $font-size-lg;
    @include e(name) {
      padding-bottom: $padding-lg;
    }
    @include e(price) {
      &-amount {
        font-size: $font-size-lg + 2px;
      }
    }
  }
  @include m(medium) {
    font-size: $font-size-md;
    @include e(name) {
      padding-bottom: $padding-md;
    }
    @include e(price) {
      &-amount {
        font-size: $font-size-md + 2px;
      }
    }
  }
  @include m(small) {
    font-size: $font-size-sm;
    @include e(name) {
      padding-bottom: $padding-sm;
    }
    @include e(price) {
      &-amount {
        font-size: $font-size-sm + 2px;
      }
    }
  }
  @include m(min) {
    font-size: $font-size-xs;
    @include e(name) {
      padding-bottom: $padding-xs;
    }
    @include e(price) {
      &-amount {
        font-size: $font-size-xs + 1px;
      }
    }
  }

  @include e(img) {
    width: 100%;
    height: 100%;
  }
  @include e(content) {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }
  @include e(name) {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: #3D4155;
  }

  @include e(price) {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    color: #FF4230;
    &-prefix {
      font-size: 1em;
    }
    &-amount {
      font-weight: $font-weight-bold;
      font-size: 1.5em;
    }
    &-unit {
      font-size: 1em;
    }
  }
}
